aiohttp==3.9.5
aiosignal==1.3.1
alembic==1.13.1
async-timeout==4.0.3
attrs==23.2.0
Automat==22.10.0
buildtools==1.0.6
cmake==3.29.2
colorlog==6.8.2
combat==0.3.3
constantly==23.10.4
docopt==0.6.2
einops==0.7.0
et-xmlfile==1.1.0
frozenlist==1.4.1
fsspec==2024.3.1
furl==2.1.3
greenlet==3.0.3
hyperlink==21.0.0
imbalanced-learn==0.12.3
imblearn==0.0
incremental==22.10.0
joblib==1.4.0
lit==18.1.3
lockfile==0.12.2
Mako==1.3.5
mkl-service==2.4.0
multidict==6.0.5
ninja==1.11.1.1
openpyxl==3.1.4
optuna==3.6.1
orderedmultidict==1.0.1
patsy==0.5.6
ply==3.11
pycombat==0.20
PyQt5==5.15.10
PyYAML==6.0.1
rdkit==2023.9.5
redo==2.0.4
regex==2024.4.16
safetensors==0.4.3
seaborn==0.13.2
torch==2.0.0
torchaudio==2.0.0
torchvision==0.15.0
tqdm==4.66.2
triton==2.0.0
Twisted==24.3.0

